In [1]:
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')

df = pd.read_csv('./student-por.csv')
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;NaN;18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";NaN;"U";"GT3";"T";1;1;"at_home";"other"...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [2]:
df = pd.read_csv('./student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         648 non-null    object
 2   age         648 non-null    float64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    648 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: float64(1), int64(15), object(17)
memory usage: 167.4+ KB

In [4]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [5]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

In [6]:
pd.options.display.max_columns = None 
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11

In [8]:
df['age'].fillna(-999.0)
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [9]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [10]:
from sklearn.preprocessing import OneHotEncoder

categorical_columns = df.columns[df.dtypes == object].tolist()
ohe = OneHotEncoder()
hot = ohe.fit_transform(df[categorical_columns])
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [11]:
print(hot)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 17)	1.0
  (1, 20)	1.0
  :	:
  (647, 27)	1.0
  (647, 29)	1.0
  (647, 31)	1.0
  (647, 33)	1.0
  (647, 35)	1.0
  (647, 38)	1.0
  (647, 40)	1.0
  (647, 41)	1.0
  (648, 1)	1.0
  (648, 3)	1.0
  (648, 4)	1.0
  (648, 7)	1.0
  (648, 9)	1.0
  (648, 13)	1.0
  (648, 17)	1.0
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0

In [12]:
hot

<649x43 sparse matrix of type '<class 'numpy.float64'>'
	with 11033 stored elements in Compressed Sparse Row format>

In [13]:
cold_df = df.select_dtypes(exclude=['object'])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,NaN,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [14]:
from scipy.sparse import csr_matrix
from scipy.sparse import hstack

cold = csr_matrix(cold_df)
final_sparse_matrix = hstack((hot, cold))
final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,NaN,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

In [17]:
from sklearn.base import TransformerMixin
class NullValueImputer(TransformerMixin):
  def __init__(self):
    None 
    
  def fit(self, X, y=None):
    return self
  
  def transform(self, X, y=None):
    for column in X.columns.tolist():
      if column in X.columns[X.dtypes==object].tolist():
        X[column] = X[column].fillna(X[column].mode())
      else:
        X[column] = X[column].fillna(-999.0)
    return X

df = pd.read_csv('./student-por.csv', sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,-999.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [18]:
class SparseMatrix(TransformerMixin):
  def __init__(self):
    None 
    
  def fit(self, X, y=None):
    return self

  def transform(self, X, y=None):
    categorical_columns = X.columns[X.dtypes==object].tolist()
    ohe = OneHotEncoder()
    hot = ohe.fit_transform(X[categorical_columns])
    cold_df = X.select_dtypes(exclude=['object'])
    cold = csr_matrix(cold_df)
    final_sparse_matrix = hstack((hot, cold))
    final_csr_matrix = final_sparse_matrix.tocsr()
    return final_csr_matrix

sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (0, 43)	18.0
  (0, 44)	4.0
  (0, 45)	4.0
  (0, 46)	2.0
  (0, 47)	2.0
  (0, 49)	4.0
  (0, 50)	3.0
  (0, 51)	4.0
  :	:
  (648, 20)	1.0
  (648, 25)	1.0
  (648, 27)	1.0
  (648, 29)	1.0
  (648, 31)	1.0
  (648, 33)	1.0
  (648, 35)	1.0
  (648, 38)	1.0
  (648, 40)	1.0
  (648, 41)	1.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline 


df = pd.read_csv('./student-por.csv', sep=';')
y = df.iloc[:, -1]
X = df.iloc[:, :-3]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

data_pipeline = Pipeline([('null_imputer', NullValueImputer()), 
                          ('sparse', SparseMatrix())])
x_train_transformed = data_pipeline.fit_transform(X_train)

In [21]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold 
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [22]:
y_train.value_counts()

G3
11    82
10    75
13    58
12    53
14    42
15    36
9     29
16    27
8     26
17    24
18    14
0     10
7      7
6      1
19     1
5      1
Name: count, dtype: int64

In [25]:
kfold = KFold(n_splits=5, shuffle=True, random_state=2)

def cross_val(model):
  scores = cross_val_score(model, x_train_transformed, y_train, 
                           scoring='neg_root_mean_squared_error', cv=kfold)
  rmse = (-scores.mean()) ** .5
  return rmse 

cross_val(XGBRegressor(missing=-999.0))

1.7234340261013787

In [27]:
X_train2, X_test2, y_train2, y_test2 = train_test_split(x_train_transformed, 
                                                        y_train, random_state=2)
def n_estimators(model):
  eval_set = [(X_test2, y_test2)]
  eval_metric='rmse'
  model.fit(X_train2, y_train2, eval_metric=eval_metric, 
            eval_set=eval_set, early_stopping_rounds=100)
  y_pred = model.predict(X_test2)
  rmse = MSE(y_test2, y_pred) ** 0.5
  return rmse 

n_estimators(XGBRegressor(n_estimators=5000, missing=-999.0))

[0]	validation_0-rmse:8.49176
[1]	validation_0-rmse:6.31389
[2]	validation_0-rmse:4.97728
[3]	validation_0-rmse:4.16009
[4]	validation_0-rmse:3.66768
[5]	validation_0-rmse:3.42965
[6]	validation_0-rmse:3.28449
[7]	validation_0-rmse:3.18376
[8]	validation_0-rmse:3.15987
[9]	validation_0-rmse:3.16607
[10]	validation_0-rmse:3.16598
[11]	validation_0-rmse:3.13184
[12]	validation_0-rmse:3.13545
[13]	validation_0-rmse:3.13216
[14]	validation_0-rmse:3.13269
[15]	validation_0-rmse:3.13168
[16]	validation_0-rmse:3.10129
[17]	validation_0-rmse:3.10436
[18]	validation_0-rmse:3.10149
[19]	validation_0-rmse:3.10755
[20]	validation_0-rmse:3.10326
[21]	validation_0-rmse:3.09872
[22]	validation_0-rmse:3.09888
[23]	validation_0-rmse:3.09904
[24]	validation_0-rmse:3.10572
[25]	validation_0-rmse:3.10126
[26]	validation_0-rmse:3.09657
[27]	validation_0-rmse:3.09536
[28]	validation_0-rmse:3.09664
[29]	validation_0-rmse:3.09789
[30]	validation_0-rmse:3.09803
[31]	validation_0-rmse:3.09336
[32]	validation_0-rmse:3.10293
[33]	validation_0-rmse:3.10499
[34]	validation_0-rmse:3.10400
[35]	validation_0-rmse:3.10528
[36]	validation_0-rmse:3.10506
[37]	validation_0-rmse:3.10678
[38]	validation_0-rmse:3.10561
[39]	validation_0-rmse:3.10670
[40]	validation_0-rmse:3.10500
[41]	validation_0-rmse:3.10732
[42]	validation_0-rmse:3.10943
[43]	validation_0-rmse:3.10759
[44]	validation_0-rmse:3.10615
[45]	validation_0-rmse:3.10585
[46]	validation_0-rmse:3.10694
[47]	validation_0-rmse:3.10620
[48]	validation_0-rmse:3.10847
[49]	validation_0-rmse:3.10736
[50]	validation_0-rmse:3.10631
[51]	validation_0-rmse:3.10588
[52]	validation_0-rmse:3.10461
[53]	validation_0-rmse:3.10369
[54]	validation_0-rmse:3.10464
[55]	validation_0-rmse:3.10586
[56]	validation_0-rmse:3.10595
[57]	validation_0-rmse:3.10686
[58]	validation_0-rmse:3.10753
[59]	validation_0-rmse:3.10755
[60]	validation_0-rmse:3.10811
[61]	validation_0-rmse:3.10870
[62]	validation_0-rmse:3.10863
[63]	validation_0-rmse:3.10835
[64]	validation_0-rmse:3.10709
[65]	validation_0-rmse:3.10723
[66]	validation_0-rmse:3.10674
[67]	validation_0-rmse:3.10686
[68]	validation_0-rmse:3.10657
[69]	validation_0-rmse:3.10570
[70]	validation_0-rmse:3.10630
[71]	validation_0-rmse:3.10502
[72]	validation_0-rmse:3.10345
[73]	validation_0-rmse:3.10346
[74]	validation_0-rmse:3.10279
[75]	validation_0-rmse:3.10313
[76]	validation_0-rmse:3.10310
[77]	validation_0-rmse:3.10331
[78]	validation_0-rmse:3.10347
[79]	validation_0-rmse:3.10344
[80]	validation_0-rmse:3.10341
[81]	validation_0-rmse:3.10313
[82]	validation_0-rmse:3.10322
[83]	validation_0-rmse:3.10343
[84]	validation_0-rmse:3.10377
[85]	validation_0-rmse:3.10415
[86]	validation_0-rmse:3.10419
[87]	validation_0-rmse:3.10416
[88]	validation_0-rmse:3.10419
[89]	validation_0-rmse:3.10423
[90]	validation_0-rmse:3.10456
[91]	validation_0-rmse:3.10446
[92]	validation_0-rmse:3.10460
[93]	validation_0-rmse:3.10455
[94]	validation_0-rmse:3.10462
[95]	validation_0-rmse:3.10449
[96]	validation_0-rmse:3.10437
[97]	validation_0-rmse:3.10445
[98]	validation_0-rmse:3.10446
[99]	validation_0-rmse:3.10442
[100]	validation_0-rmse:3.10438
[101]	validation_0-rmse:3.10441
[102]	validation_0-rmse:3.10442
[103]	validation_0-rmse:3.10438
[104]	validation_0-rmse:3.10438
[105]	validation_0-rmse:3.10434
[106]	validation_0-rmse:3.10433
[107]	validation_0-rmse:3.10433
[108]	validation_0-rmse:3.10426
[109]	validation_0-rmse:3.10425
[110]	validation_0-rmse:3.10432
[111]	validation_0-rmse:3.10432
[112]	validation_0-rmse:3.10441
[113]	validation_0-rmse:3.10442
[114]	validation_0-rmse:3.10439
[115]	validation_0-rmse:3.10437
[116]	validation_0-rmse:3.10438
[117]	validation_0-rmse:3.10440
[118]	validation_0-rmse:3.10446
[119]	validation_0-rmse:3.10448
[120]	validation_0-rmse:3.10448
[121]	validation_0-rmse:3.10450
[122]	validation_0-rmse:3.10450
[123]	validation_0-rmse:3.10450
[124]	validation_0-rmse:3.10450
[125]	validation_0-rmse:3.10450
[126]	validation_0-rmse:3.10450
[127]	validation_0-rmse:3.10450
[128]	validation_0-rmse:3.10450
[129]	validation_0-rmse:3.10450
[130]	validation_0-rmse:3.10450
[131]	validation_0-rmse:3.10450

3.093361208225006

In [30]:
def grid_search(params, reg=XGBRegressor(missing=-999.)):
  grid_reg = GridSearchCV(reg, params, 
                          scoring='neg_mean_squared_error', 
                          cv=kfold)
  grid_reg.fit(x_train_transformed, y_train)
  best_params = grid_reg.best_params_
  print(f"Best params: {best_params}")
  best_score = np.sqrt(-grid_reg.best_score_)
  print(f"Best score: {best_score}")

In [31]:
grid_search(params={'max_depth': [1, 2, 3, 4, 6, 7, 8], 
                    'n_estimators': [31]})

Best params: {'max_depth': 1, 'n_estimators': 31}
Best score: 2.663443073302518

In [32]:
grid_search(params={'max_depth': [1, 2, 3], 
                    'min_child_weight': [1,2,3,4,5,],
                    'n_estimators': [31]})

Best params: {'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 31}
Best score: 2.663443073302518

In [33]:
grid_search(params={'max_depth': [2], 
                    'min_child_weight': [2,3], 
                    'subsample': [.5, .6, .7, .8, .9], 
                    'n_estimators': [31, 50]})

Best params: {'max_depth': 2, 'min_child_weight': 2, 'n_estimators': 31, 'subsample': 0.9}
Best score: 2.679803933212046

In [34]:
grid_search(params={'max_depth': [1], 
                    'min_child_weight': [1,2,3], 
                    'subsample': [.6, .7, .8], 
                    'colsample_bytree': [.5, .6, .7, .8, .9, 1.], 
                    'n_estimators': [50]})

Best params: {'colsample_bytree': 0.7, 'max_depth': 1, 'min_child_weight': 1, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.6476064038006086

In [35]:
grid_search(params={'max_depth':[1],
                    'min_child_weight':[3],
                    'subsample':[.8],
                    'colsample_bytree':[0.9],
                    'colsample_bylevel':[0.6, 0.7, 0.8, 0.9, 1],
                    'colsample_bynode':[0.6, 0.7, 0.8, 0.9, 1],
                    'n_estimators':[50]})

Best params: {'colsample_bylevel': 0.9, 'colsample_bynode': 0.8, 'colsample_bytree': 0.9, 'max_depth': 1, 'min_child_weight': 3, 'n_estimators': 50, 'subsample': 0.8}
Best score: 2.6571046733208834

In [36]:
X_test_transformed = data_pipeline.fit_transform(X_test)
model = XGBRegressor(max_depth=2, 
                     min_child_weight=3, 
                     subsample=0.9, 
                     colsample_bytree=0.8, 
                     gamma=2, 
                     missing=-999.)
model.fit(x_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_test, y_pred) ** .5
rmse

2.9125343115306817

In [38]:
model = XGBRegressor(max_depth=1, 
                     min_child_weight=5, 
                     subsample=.6, 
                     colsample_bytree=.9, 
                     colsample_bylevel=.9, 
                     colsample_bynode=.8, 
                     n_estimators=50, 
                     missing=-999.)
model.fit(x_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_test, y_pred) **.5
rmse

2.796200143322201

In [39]:
full_pipeline = Pipeline([('null_imputer', NullValueImputer()),
                          ('sparse', SparseMatrix()), 
                          ('xgb', XGBRegressor(max_depth=1, 
                                               min_child_weight=5, 
                                               subsample=.6, 
                                               colsample_bytree=.9, 
                                               colsample_bylevel=.9, 
                                               colsample_bynode=.8, 
                                               missing=-999.))])
full_pipeline.fit(X, y)
new_data = X_test
np.round(full_pipeline.predict(new_data))

new_df = pd.read_csv('./student-por.csv')
new_X = df.iloc[:, :-3]
new_y = df.iloc[:, -1]
new_model = full_pipeline.fit(new_X, new_y)

more_new_data = X_test[:25]
np.round(new_model.predict(more_new_data))

array([14.,  8., 11., 14., 12., 12., 14., 12., 11., 13., 13.,  9., 13.,
       13., 14.,  9., 10., 10., 16., 10., 13., 13.,  6., 12.,  8.],
      dtype=float32)

In [40]:
single_row = X_test[:1]
single_row_plus = pd.concat([single_row, X_test[:25]])
print(np.round(new_model.predict(single_row_plus))[:1])

[14.]